.relative__wrapper {
  position: relative;
  z-index: 9999;
  .promp__text {
    position: absolute;
    font-size: .8rem;
    font-weight: 600;
    width: max-content;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    background-color: var(--color-code--);
    display: none;
    z-index: 9999;
  }
  &.top {
    .promp__text {
      bottom: calc(100% + 12px);
      left: 50%;
      transform: translateX(-50%);
      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-top: 8px solid var(--color-code--);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }
    }
  }
  &.bottom {
    .promp__text {
      top: calc(100% + 12px);
      left: 50%;
      transform: translateX(-50%);
      &::after {
        position: absolute;
        content: "";
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 8px solid var(--color-code--);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
      }
    }
  }
  &.right {
    .promp__text {
      left: calc(100% + 12px);
      top: 50%;
      transform: translateY(-50%);
      &::after {
        position: absolute;
        content: "";
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        border-right: 6px solid var(--color-code--);
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
      }
    }
  }
  &.left {
    .promp__text {
      right: calc(100% + 12px);
      top: 50%;
      transform: translateY(-50%);
      &::after {
        position: absolute;
        content: "";
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        border-left: 6px solid var(--color-code--);
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
      }
    }
  }
  &:hover {
    .promp__text {
        display: block;
      animation: fade-in ease-in-out 0.25s;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
